In [29]:
import pandas as pd
from matplotlib import pyplot as plt
import matplotlib
matplotlib.style.use('ggplot')
import numpy as np

from sklearn import cross_validation


df = pd.read_csv('/Users/jasonpieros/Downloads/train.csv',header=0)

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [31]:
cols = ['Name','Ticket','Cabin']
df = df.drop(cols,axis=1)

In [32]:
print("With NA:",df)
df = df.dropna()
print ("Without NA:",df)

('With NA:',      PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch      Fare  \
0              1         0       3    male  22.0      1      0    7.2500
1              2         1       1  female  38.0      1      0   71.2833
2              3         1       3  female  26.0      0      0    7.9250
3              4         1       1  female  35.0      1      0   53.1000
4              5         0       3    male  35.0      0      0    8.0500
5              6         0       3    male   NaN      0      0    8.4583
6              7         0       1    male  54.0      0      0   51.8625
7              8         0       3    male   2.0      3      1   21.0750
8              9         1       3  female  27.0      0      2   11.1333
9             10         1       2  female  14.0      1      0   30.0708
10            11         1       3  female   4.0      1      1   16.7000
11            12         1       1  female  58.0      0      0   26.5500
12            13         0       3    male  20.0      0      0    8.0500
13            14         0       3    male  39.0      1      5   31.2750
14            15         0       3  female  14.0      0      0    7.8542
15            16         1       2  female  55.0      0      0   16.0000
16            17         0       3    male   2.0      4      1   29.1250
17            18         1       2    male   NaN      0      0   13.0000
18            19         0       3  female  31.0      1      0   18.0000
19            20         1       3  female   NaN      0      0    7.2250
20            21         0       2    male  35.0      0      0   26.0000
21            22         1       2    male  34.0      0      0   13.0000
22            23         1       3  female  15.0      0      0    8.0292
23            24         1       1    male  28.0      0      0   35.5000
24            25         0       3  female   8.0      3      1   21.0750
25            26         1       3  female  38.0      1      5   31.3875
26            27         0       3    male   NaN      0      0    7.2250
27            28         0       1    male  19.0      3      2  263.0000
28            29         1       3  female   NaN      0      0    7.8792
29            30         0       3    male   NaN      0      0    7.8958
..           ...       ...     ...     ...   ...    ...    ...       ...
861          862         0       2    male  21.0      1      0   11.5000
862          863         1       1  female  48.0      0      0   25.9292
863          864         0       3  female   NaN      8      2   69.5500
864          865         0       2    male  24.0      0      0   13.0000
865          866         1       2  female  42.0      0      0   13.0000
866          867         1       2  female  27.0      1      0   13.8583
867          868         0       1    male  31.0      0      0   50.4958
868          869         0       3    male   NaN      0      0    9.5000
869          870         1       3    male   4.0      1      1   11.1333
870          871         0       3    male  26.0      0      0    7.8958
871          872         1       1  female  47.0      1      1   52.5542
872          873         0       1    male  33.0      0      0    5.0000
873          874         0       3    male  47.0      0      0    9.0000
874          875         1       2  female  28.0      1      0   24.0000
875          876         1       3  female  15.0      0      0    7.2250
876          877         0       3    male  20.0      0      0    9.8458
877          878         0       3    male  19.0      0      0    7.8958
878          879         0       3    male   NaN      0      0    7.8958
879          880         1       1  female  56.0      0      1   83.1583
880          881         1       2  female  25.0      0      1   26.0000
881          882         0       3    male  33.0      0      0    7.8958
882          883         0       3  female  22.0      0      0   10.5167
883          884         0       2    male  28.0      0      0   10.5000
884          885         0       3    male  25.0      0      0    7.0500
885          886         0       3  female  39.0      0      5   29.1250
886          887         0       2    male  27.0      0      0   13.0000
887          888         1       1  female  19.0      0      0   30.0000
888          889         0       3  female   NaN      1      2   23.4500
889          890         1       1    male  26.0      0      0   30.0000
890          891         0       3    male  32.0      0      0    7.7500

    Embarked
0          S
1          C
2          S
3          S
4          S
5          Q
6          S
7          S
8          S
9          C
10         S
11         S
12         S
13         S
14         S
15         S
16         Q
17         S
18         S
19         C
20         S
21         S
22         Q
23         S
24         S
25         S
26         C
27         S
28         Q
29         S
..       ...
861        S
862        S
863        S
864        S
865        S
866        C
867        S
868        S
869        S
870        S
871        S
872        S
873        S
874        C
875        C
876        S
877        S
878        S
879        C
880        S
881        S
882        S
883        S
884        S
885        Q
886        S
887        S
888        S
889        C
890        Q

[891 rows x 9 columns])
('Without NA:',      PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch      Fare  \
0              1         0       3    male  22.0      1      0    7.2500
1              2         1       1  female  38.0      1      0   71.2833
2              3         1       3  female  26.0      0      0    7.9250
3              4         1       1  female  35.0      1      0   53.1000
4              5         0       3    male  35.0      0      0    8.0500
6              7         0       1    male  54.0      0      0   51.8625
7              8         0       3    male   2.0      3      1   21.0750
8              9         1       3  female  27.0      0      2   11.1333
9             10         1       2  female  14.0      1      0   30.0708
10            11         1       3  female   4.0      1      1   16.7000
11            12         1       1  female  58.0      0      0   26.5500
12            13         0       3    male  20.0      0      0    8.0500
13            14         0       3    male  39.0      1      5   31.2750
14            15         0       3  female  14.0      0      0    7.8542
15            16         1       2  female  55.0      0      0   16.0000
16            17         0       3    male   2.0      4      1   29.1250
18            19         0       3  female  31.0      1      0   18.0000
20            21         0       2    male  35.0      0      0   26.0000
21            22         1       2    male  34.0      0      0   13.0000
22            23         1       3  female  15.0      0      0    8.0292
23            24         1       1    male  28.0      0      0   35.5000
24            25         0       3  female   8.0      3      1   21.0750
25            26         1       3  female  38.0      1      5   31.3875
27            28         0       1    male  19.0      3      2  263.0000
30            31         0       1    male  40.0      0      0   27.7208
33            34         0       2    male  66.0      0      0   10.5000
34            35         0       1    male  28.0      1      0   82.1708
35            36         0       1    male  42.0      1      0   52.0000
37            38         0       3    male  21.0      0      0    8.0500
38            39         0       3  female  18.0      2      0   18.0000
..           ...       ...     ...     ...   ...    ...    ...       ...
856          857         1       1  female  45.0      1      1  164.8667
857          858         1       1    male  51.0      0      0   26.5500
858          859         1       3  female  24.0      0      3   19.2583
860          861         0       3    male  41.0      2      0   14.1083
861          862         0       2    male  21.0      1      0   11.5000
862          863         1       1  female  48.0      0      0   25.9292
864          865         0       2    male  24.0      0      0   13.0000
865          866         1       2  female  42.0      0      0   13.0000
866          867         1       2  female  27.0      1      0   13.8583
867          868         0       1    male  31.0      0      0   50.4958
869          870         1       3    male   4.0      1      1   11.1333
870          871         0       3    male  26.0      0      0    7.8958
871          872         1       1  female  47.0      1      1   52.5542
872          873         0       1    male  33.0      0      0    5.0000
873          874         0       3    male  47.0      0      0    9.0000
874          875         1       2  female  28.0      1      0   24.0000
875          876         1       3  female  15.0      0      0    7.2250
876          877         0       3    male  20.0      0      0    9.8458
877          878         0       3    male  19.0      0      0    7.8958
879          880         1       1  female  56.0      0      1   83.1583
880          881         1       2  female  25.0      0      1   26.0000
881          882         0       3    male  33.0      0      0    7.8958
882          883         0       3  female  22.0      0      0   10.5167
883          884         0       2    male  28.0      0      0   10.5000
884          885         0       3    male  25.0      0      0    7.0500
885          886         0       3  female  39.0      0      5   29.1250
886          887         0       2    male  27.0      0      0   13.0000
887          888         1       1  female  19.0      0      0   30.0000
889          890         1       1    male  26.0      0      0   30.0000
890          891         0       3    male  32.0      0      0    7.7500

    Embarked
0          S
1          C
2          S
3          S
4          S
6          S
7          S
8          S
9          C
10         S
11         S
12         S
13         S
14         S
15         S
16         Q
18         S
20         S
21         S
22         Q
23         S
24         S
25         S
27         S
30         C
33         S
34         C
35         S
37         S
38         S
..       ...
856        S
857        S
858        C
860        S
861        S
862        S
864        S
865        S
866        C
867        S
869        S
870        S
871        S
872        S
873        S
874        C
875        C
876        S
877        S
879        C
880        S
881        S
882        S
883        S
884        S
885        Q
886        S
887        S
889        C
890        Q

[712 rows x 9 columns])

In [33]:
dummies = []
cols = ['Pclass','Sex','Embarked']
for col in cols:
    dummies.append(pd.get_dummies(df[col]))

In [34]:
titanic_dummies = pd.concat(dummies, axis=1)

In [35]:
df = pd.concat((df,titanic_dummies),axis=1)

In [36]:
df = df.drop(['Pclass','Sex','Embarked'],axis=1)

In [37]:
df['Age'] = df['Age'].interpolate()

In [38]:
X = df.values
y = df['Survived'].values

In [39]:
X = np.delete(X,1,axis=1)

In [40]:

X_train, X_test, y_train, y_test = cross_validation.train_test_split(X,y,test_size=0.3,random_state=0)

In [41]:
from sklearn import tree
clf = tree.DecisionTreeClassifier(max_depth=5)
clf.fit(X_train,y_train)
clf.score(X_test,y_test)

0.76168224299065423

In [42]:
X_results = df.values

In [43]:
y_results = clf.predict(X)

In [44]:
output = np.column_stack((X[:,0],y_results))
df_results = pd.DataFrame(output.astype('int'),columns=['PassengerID','Survived'])
df_results.to_csv('titanic_results.csv',index=False)